name: Integration tests

on:
  workflow_call:
    inputs:
      artifacts-key:
        description: Key used to download the charm artifacts
        required: true
        type: string
      charm-paths:
        description: Comma-separated list of built charm file names
        required: true
        type: string

jobs:
  integration-test:
    strategy:
      matrix:
        arch:
          - arch: amd64
            runner: ubuntu-22.04
            base: "22.04"
          - arch: amd64
            runner: ubuntu-24.04
            base: "24.04"

    runs-on: ${{ matrix.arch.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Fetch Charm Under Test
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.artifacts-key }}
          path: built/

      - name: Get Charm Under Test Path
        id: charm-path
        env:
          CHARM_PATHS: ${{ inputs.charm-paths }}
          BASE: ${{ matrix.arch.base }}
          ARCH: ${{ matrix.arch.arch }}
        run: |
          IFS=',' read -ra paths <<< "$CHARM_PATHS"
          for charm in "${paths[@]}"; do
            if [[ "$charm" == *"ubuntu@${BASE}-${ARCH}.charm" ]]; then
              echo "charm_path=built/${charm}" >> "$GITHUB_OUTPUT"
              exit 0
            fi
          done
          echo "Unable to find a charm artifact for ubuntu@${BASE}-${ARCH}" >&2
          exit 1

      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.29-strict/stable
          juju-channel: 3/stable
          lxd-channel: 5.21/stable

      - name: Run integration tests
        run: |
          tox -e integration -- \
            --charm_path=${{ steps.charm-path.outputs.charm_path }}

      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log

      - name: Archive juju crashdump
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: juju-crashdump
          path: juju-crashdump-*.tar.xz
