name: Promote Charm

on:
  workflow_dispatch:
    inputs:
      promotion:
        type: choice
        description: Channel to promote from
        options:
          - edge -> beta
          - beta -> candidate
          - candidate -> stable
      base:
        type: choice
        description: Base to promote from
        options:
          - ubuntu-22.04
          - ubuntu-24.04

env:
  PROMOTE_FROM: ${{ inputs.promotion == 'edge -> beta' && 'edge' || inputs.promotion == 'beta -> candidate' && 'beta' || inputs.promotion == 'candidate -> stable' && 'candidate' || '' }}
  PROMOTE_TO: ${{ inputs.promotion == 'edge -> beta' && 'beta' || inputs.promotion == 'beta -> candidate' && 'candidate' || inputs.promotion == 'candidate -> stable' && 'stable' || '' }}
  TRACK: "4" # This also needs to be updated in the scan job below
  BASE_CHANNEL: ${{ inputs.base == 'ubuntu-22.04' && '22.04' || inputs.base == 'ubuntu-24.04' && '24.04' || '' }}

jobs:
  scan:
    name: Secscan
    uses: canonical/identity-credentials-workflows/.github/workflows/secscan-charm.yaml@v1.2.0
    with:
      charm: lego
      # We have to compute the channel here again because we can't pass env variables to a reusable workflow
      track: "4"
      channel: ${{ inputs.promotion == 'edge -> beta' && 'edge' || inputs.promotion == 'beta -> candidate' && 'beta' || inputs.promotion == 'candidate -> stable' && 'candidate' || '' }}
      arch: amd64
      create-issue: ${{ inputs.promotion == 'candidate -> stable' || inputs.promotion == 'beta -> candidate' }}

  promote:
    name: Promote Charm
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Promote Charm
        uses: canonical/charming-actions/release-charm@2.7.0
        with:
          base-channel: ${{ env.BASE_CHANNEL }}
          credentials: ${{ secrets.CHARMCRAFT_AUTH }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          destination-channel: ${{ env.TRACK }}/${{ env.PROMOTE_TO }}
          origin-channel: ${{ env.TRACK }}/${{ env.PROMOTE_FROM }}
          charmcraft-channel: latest/stable
